* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#timer {
  font-size: 2em;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 20px #48c8ff;

  div {
    display: inline-block;
    min-width: 20px;
    span {
      color: #b1cdf1;
      display: block;
      font-size: 0.55em;
      font-weight: 600;
    }
  }
  p {
    display: inline;
    width: 20px;
  }
}
