* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#the-24h-countdown p span {
  width: 50px;
  height: 50px;
  outline: 3px solid #eee;
  display: inline-block;
  line-height: 50px;
  margin: 0 12px;
  font-weight: bold;
  font-size: 23px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  background: #C0C0C0;
  color: #143A67;
  display: flex;
  align-items: center;
}
.content p {
  border-bottom: 4px #3fae2b solid ;
      width: fit-content;
    margin: 10px auto;
    padding: 8px;
}
